body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}
.row{
    justify-content: center;
    align-items: center;
}
.about img{
    border-radius: 100%;
}
.about h2{
    text-transform: uppercase;
    color: white;
}
.about p{
    color: white;
}