@import url('https://fonts.googleapis.com/css?family=Gelasio&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');
body{
    background-color: #16202c;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFF;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
.artigo p{
    font-family: 'Gelasio', serif;
}
.artigo h1{
    font-size: 4em;
    font-weight: 700;
    font-family: 'Inconsolata', monospace;
}
.artigo h2{
    font-family: 'Inconsolata', monospace;
}

:not(pre)>code[class*=language-], pre[class*=language-]{
    background: #272822;
}
code[class*=language-], pre[class*=language-] {
    color: #f8f8f2;
    background: none;
    text-shadow: 0 1px rgba(0,0,0,.3);
    font-family: Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace;
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}
.token.constant, .token.deleted, .token.property, .token.symbol, .token.tag {
    color: #f92672;
}