@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root{

    --hue-color: 204;

    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);

    --gray: rgba(0, 0, 0, 0.1);
}

body.dark{
    --first-color-second: hsl(var(--hue-color), 30%, 8%);
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 75%);
    --input-color: hsl(var(--hue-color), 29%, 16%);
    --body-color: hsl(var(--hue-color), 28%, 12%);
    --gray: rgba(250, 250, 250, 0.5);
}

.show{
    display: grid !important;
    opacity: 1 !important;
}

.hidden{
    display: none !important;
    opacity: 0 !important;
}

.container{
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1140px;
}
#btnNext{
    background: var(--first-color);
    color: #FFF;
    border: solid 2px var(--first-color);
    padding: 12px 25px;
    font-weight: 600;
    cursor: pointer;
    transition: .3s ease;
    font-size: 1rem;

    &:hover{
        background: transparent;
        color: var(--first-color);
    }

    &:disabled{
        background: #6c757d;
        border-color: #6c757d;
        color: #FFF;
        opacity: 0.65;
        cursor: default;
    }
    
}
#btnPrev{
    background: transparent;
    color: var(--first-color);
    border: solid 2px var(--first-color);
    padding: 12px 25px;
    font-weight: 600;
    cursor: pointer;
    transition: .3s ease;
    font-size: 1rem;

    &:hover{
        background: var(--first-color);
        color: #FFF;
    }
}
#enviar{
    background: var(--first-color);
    color: #FFF;
    border: solid 2px var(--first-color);
    padding: 12px 25px;
    font-weight: 600;
    cursor: pointer;
    transition: .3s ease;
    font-size: 1rem;

    &:hover{
        background: transparent;
        color: var(--first-color);
    }

    &:disabled{
        background: #6c757d;
        border-color: #6c757d;
        color: #FFF;
        opacity: 0.65;
        cursor: default;
    }
}


*{
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    font-family: 'Roboto', sans-serif;
    background: var(--body-color);
    color: var(--text-color);

    nav{
        position: fixed;
        top: 0;
        width: 100%;
        background: transparent;
        z-index: 9;
        border-bottom: 2px solid var(--gray);

        .navbar_content{
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo{
                h1{
                    color: var(--first-color);
                }
            }

            ul{
                display: flex;
                list-style: none;
                padding: 0;
    
                li{
                    padding: 1.5rem;
                    a{
                        text-decoration: none;
                        color: var(--title-color);

                        &:hover{
                            color: var(--first-color);
                        }

                    }
                }
            }

            .btnDark{
                cursor: pointer;

                i{
                    font-size: 1.3rem;
                    font-weight: bold;

                    &:hover{
                        color: var(--first-color);
                    }
                }
            }
        }
    }

    section{
        margin: 4rem 0;
        padding-top: 5rem;
        position: relative;
        h1{
            font-size: 2rem;
            margin-bottom: 0.5rem;
            text-align: center;
            color: var(--title-color);
        }
        p{
            text-align: center;
        }
    
        .indicador{
            display: flex;
            justify-content: space-between;
            gap: 1rem;
            margin: 3rem 0;
    
            p{
                color: var(--first-color);
                width: 100%;
                text-align: left;
                font-weight: 600;
                
                &::after{
                    content: '';
                    height: 4px;
                    width: 0%;
                    background: var(--first-color);
                    display: block;
                    margin-top: 0.5rem;
                    transition: .3s ease;
                }
            }
            p.active{
                &::after{
                    width: 100%;
                }
            }
        }
    
        form{
            display: grid;
            margin-top: 3rem;
            gap: 2rem;
            border: solid 1px var(--gray);
            padding: 2rem;
            border-radius: 5px;
            background: var(--body-color);
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
            
            .page_one{
                display: grid;
                gap: 1rem;
                
                .buttons{
                    display: flex;
                    justify-content: end;
                }
    
            }
    
            .page_two{
                gap: 1rem;
                display: none;
                opacity: 0;
    
                .buttons{
                    display: flex;
                    gap: 1rem;
                    justify-content: end;
                }
            }
    
            .form_groups{
                display: grid;
                gap: 1rem;
    
                .form_group{
                    display: grid;
    
                    label{
                        margin-bottom: 0.5rem;
                        display: block;
                        color: var(--title-color);
                    }
                    input{
                        display: block;
                        border: solid 1px var(--gray);
                        font-size: 1.3rem;
                        padding: 1rem;
                        border-radius: 5px;
                        width: 100%;
                        background: var(--input-color);
                        color: var(--text-color);
    
                        &::placeholder{
                            opacity: 0.5;
                            color: var(--title-color);
                        }
                    }
    
                }
            }
    
            button{
                background: var(--first-color);
                color: #FFF;
                border: solid 2px var(--first-color);
                padding: 12px 25px;
                font-weight: 600;
                cursor: pointer;
                transition: .3s ease;

                &:hover{
                    background: var(--first-color);
                    color: #FFF;
                }
                
            }
        }
    
        .alertRed{
            display: flex;
            gap: 1rem;
            background: #ffe1e3;
            max-width: 420px;
            position: fixed;
            top: 10%;
            left: 50%;
            border-radius: 4px;
            border-left: 8px solid #ff99a4;
            transform: translateX(-50%);
            width: 100%;
            display: none;
            opacity: 0;
            transition: 0.3s ease;
    
            h4{
                color: #ff4558;
                padding: 1.5rem;
            }
            .close_btn{
                background-color: #ff99a4;
                padding: 1.5rem;
                border-radius: 0 8px 8px 0;
                color: #ff4558;
                position: absolute;
                right: 0;
                cursor: pointer;
            }
        }
        .alertRed.active{
            display: inline-flex;
            opacity: 1;
        }
    
        .alertGreen{
            display: flex;
            gap: 1rem;
            background: #c2f3d6;
            max-width: 420px;
            position: fixed;
            top: 10%;
            left: 50%;
            border-radius: 4px;
            border-left: 8px solid #30d377;
            transform: translateX(-50%);
            width: 100%;
            display: none;
            opacity: 0;
            transition: 0.3s ease;
    
            h4{
                color: #30d377;
                padding: 1.5rem;
            }
            .close_btn{
                background-color: #96eab8;
                padding: 1.5rem;
                border-radius: 0 8px 8px 0;
                color: #30d377;
                position: absolute;
                right: 0;
                cursor: pointer;
            }
        }
        .alertGreen.active{
            display: inline-flex;
            opacity: 1;
        }
    }
    
    section.tabela{
        table{
            thead{
                display: none;
            }
    
            tbody{
                display: block;
                width: 100%;
    
                tr{
                    display: block;
                    width: 100%;
                    padding: 1rem;
                    margin: 2rem 0;
                    border: solid 1px var(--gray);

                    &:nth-of-type(even){
                        background: var(--input-color);
                    }
    
                    td{
                        display: block;
                        width: 100%;
                        text-align: right;
                        padding-left: 20%;
                        text-align: right;
                        position: relative;
                        margin: 1rem 0;
                        border-bottom: solid 1px var(--gray);
    
                        &:nth-child(4){
                            word-break: break-all;
                        }
    
                        &::before{
                            content: attr(data-label);
                            position: absolute;
                            left: 0;
                            font-weight: 600;
                        }
    
                        #delete{
                            background: transparent;
                            margin: .5rem;
                            i{
                                font-size: 1.5rem;
                                color: var(--title-color);
                            }
                        }
                    }
    
                }
    
            }
    
        }
    }
}

@media screen and (min-width: 1024px){
    
    section{

        .container{
            max-width: 1140px;

            h1{
                font-size: 3rem;
            }
    
            form{
                padding: 3rem;
    
    
    
                .page_one:nth-child(1){
                    .form_groups:nth-child(1){
                        display: grid;
                        grid-template-columns: 2fr 1fr;
                        gap: 1rem;
                    }
                    .form_groups:nth-child(2){
                        display: grid;
                        grid-template-columns: 1fr 2fr;
                        gap: 1rem;
                    }

                    .buttons{
                        display: flex;
                        justify-content: end;
                    }
                }
    
                .page_two{
                    .form_groups:nth-child(1){
                        display: grid;
                        grid-template-columns: 1fr 2fr;
                        gap: 1rem;
                    }
                    .form_groups:nth-child(2){
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        gap: 1rem;
                    }
                    .form_groups:nth-child(3){
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        gap: 1rem;
                    }
                }
            }
        }
        
    }

    section.tabela{

        .container{
            max-width: 100%;

            table{
                border-collapse: collapse;
                margin: 25px 0;
        
                thead{
                    display: table-header-group;
                    tr{
                        background: var(--first-color);
                        color: #FFF;
                        text-align: left;
                        font-weight: bold;
        
                        th{
                            padding: 12px 15px;
                        }
                    }
                }
                tbody{
                    display: table-row-group;
                    tr{
                        display: table-row;
                        border-bottom: 1px solid #dddddd;
        
                        &:nth-of-type(even){
                            background: var(--input-color);
                        }
        
                        &:last-of-type{
                            border-bottom: 2px solid var(--first-color);
                        }
        
                        td{
                            display: table-cell;
                            padding: 0.5rem;
                            position: initial;
                            text-align: left;
                            width: auto;
                            border: none;
        
                            &:before{
                                display: none;
                            }

                            &:nth-child(4){
                                word-break: break-all;
                            }

                            &:last-child{
                                display: flex;
                            }
        
                        .btnFunction{
                                padding: .5rem;
                                background: transparent;
                                cursor: pointer;
                                i{
                                    font-size: 1.5rem;
                                }
                            }
        
        
        
                        }

                        
        
                    }
        
                }
        
            }
        }
    }

}